// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// BLOG SECTION
.no-blogs {
    padding: 40px;
}

.no-blogs-span {
    margin-top: 40px;
}

.more-than-200-characters-span {
    color: $indigo;
    font-weight: 600;
    margin-top: 8px;
    line-height: 1;
}

